<div class="headline">
  <h1 class="resume-owner">Stefan Schubert</h1>
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile colspan="2">
      <div class="address-block">
        <div>Mathildenstraße 102</div>
        <div>41239 Mönchengladbach</div>
        <div>+49 170 3601598</div>
        <div>schubert.inf(at)gmail.com</div>
        <div>Birthday: 08.02.1986</div>
        <div>Citizenship: German</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>Image here</mat-grid-tile>
  </mat-grid-list>
</div>
